<ion-header>
  <ion-toolbar>
    <span>Connexion</span>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section >
    <h4>Bienvenue sur la main page {{this.identifiant}}</h4>
  </section>

  <section >
    <ion-item>
      <ion-input required minLength="4" type="text" placeholder="Name" name="name" #name ></ion-input>
    </ion-item>
    <div *ngIf="!name.value"
         class="alert alert-danger">
      Name is required
    </div>
    <ion-button (click)="validateName(name.value)">Valider prénom</ion-button>

  </section>
</ion-content>

